body {
  min-height: 100em;
  padding: 100px;
}
.grand_parent {
  border: 1px solid blue;
  height: 700px;
}

.parent {
  border: 1px solid red;
  height: 500px;
}

.children {
  height: 100px;
}

.children_1 {
  background-color: pink;
  position: sticky;
  top: 100px;
  margin-bottom: 30px;
}

.children_2 {
  background-color: lightblue;
  position: sticky;
  top: 130px;
  margin-bottom: 30px;
}

.children_3 {
  background-color: lightgreen;
  position: sticky;
  top: 260px;
  margin-bottom: 30px;
}

@supports (position: sticky) {
  .is-sticky {
    position: sticky;
    top: 0;
  }
}
